* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu > li {
    list-style: none;
}

.menu--selected {
    border: 1px solid #aaaaaa;
}

.main {
    margin-top: 30px;
    padding-bottom: 30px;
    flex: 1;
}

.task-list > li {
    list-style: none;
}

.main-sub-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
