* {
    margin: 0;
}

.App {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu > li {
    list-style: none;
}

.menu--selected {
    border: 1px solid #aaaaaa;
}

.task-list {
    margin-top: 30px;
}

.task-list > li {
    list-style: none;
}
